body {
	font-family: var(--ff-rubik);
	font-weight: var(--fw-regular);
	color: #fff;
	background-color: var(--very-dark-blue);

	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	max-width: 20.5rem;
	margin-bottom: 3rem;
}

.dashboard-tab {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 1rem;
}

.user {
	background-color: var(--blue);
	position: relative;
}

.user__profile {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
	border-radius: 1rem;
}

.user img {
	width: 4rem;
	border: 3px solid white;
	border-radius: 50%;
}

.user__activity-frequency {
	background-color: var(--dark-blue);
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding: 1rem;
	width: 100%;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	z-index: -1;
	position: absolute;
	bottom: -50px;
}

.activity__inner-tab {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: var(--dark-blue);
	padding: 1rem;
	position: absolute;
	width: 100%;
	bottom: -50px;
	border-radius: 1rem;
}

.inner-tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tab-background {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	height: 100px;
}

.work {
	background: var(--orange-work) url("../images/icon-work.svg") no-repeat
		right;
}

.play {
	background: var(--soft-blue-play) url("../images/icon-play.svg") no-repeat
		right;
}

.study {
	background: var(--ligth-red-study) url("../images/icon-study.svg") no-repeat
		right;
}

.exercice {
	background: var(--lime-green-exercise) url("../images/icon-exercise.svg")
		no-repeat right;
}

.social {
	background: var(--violet-social) url("../images/icon-social.svg") no-repeat
		right;
}

.self-care {
	background: var(--soft-orange-self-care) url("../images/icon-self-care.svg")
		no-repeat right;
}

.user-id h2 {
	font-size: 1.5rem;
	font-weight: var(--fw-thin);
}

.user__activity-frequency p {
	color: var(--desaturated-blue);
	cursor: pointer;
}

.user__activity-frequency p:hover {
	color: #fff;
}

.inner-tab__head h3 {
	font-size: var(--fs-body);
}

.inner-tab h2 {
	font-size: 2rem;
	font-weight: var(--fw-thin);
}

.inner-tab p,
.user-id p {
	font-size: 0.938rem;
	color: var(--pale-blue);
}

.inner-tab__head img {
	height: 5px;
}
