/* Fonts */

@font-face {
	font-family: "Young Serif";
	src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf)
		format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Outfit";
	src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
		format("truetype");
	font-display: swap;
	font-weight: 400 700;
}

/* Colors */

:root {
	--nutmeg-hsl: hsl(14, 45%, 36%);
	--raspberry-dark-hsl: hsl(332, 51%, 32%);
	--white-hsl: hsl(0, 0%, 100%);
	--rose-white-hsl: hsl(330, 100%, 98%);
	--eggshell-hsl: hsl(30, 54%, 90%);
	--light-grey-hsl: hsl(30, 18%, 87%);
	--brown-wenge-hsl: hsl(30, 10%, 34%);
	--charcoal-dark-hsl: hsl(24, 5%, 18%);
}
