/* General styling */
body {
	min-height: 100vh;
	background-color: var(--white-hsl);
	font-family: var(--ff-primary);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-top: 3rem;
}

h1 {
	text-align: center;
	color: var(--deep-dark-purple-hsl);
	font-size: 2.5rem;
	line-height: 2.75rem;
	padding-inline: 3rem;
	font-weight: 900;
}

h2 {
	color: var(--deep-dark-purple-hsl);
	font-size: 2rem;
	font-weight: 900;
	line-height: 2.25rem;
	text-align: center;
	padding-inline: 2.5rem;
}

p {
	text-align: center;
	color: var(--grey-hsl);
	padding-inline: 2rem;
	line-height: 1.625rem;
	font-weight: 500;
}

span {
	color: var(--sky-blue-hsl);
}

button {
	border: none;
	border-radius: 50px;
	color: var(--white-hsl);
	font-weight: 800;
	cursor: pointer;
}

/* Components */
.hero {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.hero--img-desktop {
	display: none;
}

.hero--img-mobile {
	width: 108%;
	height: auto;
	position: relative;
	left: -4%;
}

.group-chat {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-self: center;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.download-btn {
	background-color: var(--green-hsl);
	width: 12rem;
	padding-block: 1.25rem;
}

.download-btn:hover {
	background-color: var(--blue-hover-hsl);
}

.info-btn {
	background-color: var(--purple-hsl);
	width: 8.5rem;
	padding-block: 1.25rem;
}

.section-num {
	position: relative;
	margin-top: 6.5rem;
	display: grid;
	place-content: center;
	width: 56px;
	height: 65px;
	border-radius: 50%;
	border: 1px solid #d8d8d8;
	color: var(--grey-hsl);
	background-color: var(--white-hsl);
	font-weight: var(--deep-dark-purple-hsl);
	z-index: 5;
	font-weight: var(--fw-bold);
}

.section-num::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 90px;
	border-left: 1px solid #d8d8d8;
	transform: translate(50%, -100%);
}

.overlay {
	margin-top: 2rem;
	bottom: -80px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1.5rem;
	padding-inline: 1.5rem;
}

.users-pictures {
	margin-block: 1rem;
}

.users-pictures img {
	width: 100%;
	border-radius: 0.5rem;
}

.built-for {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

#green-letter-spaced {
	color: var(--green-hsl);
	letter-spacing: 0.25rem;
	font-weight: 900;
	text-transform: uppercase;
}

footer {
	position: relative;
	width: 100%;
	background-image: url("../assets/desktop/image-footer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 4rem 2rem;
}

footer::before {
	position: absolute;
	content: "";
	background-color: var(--green-hsl);
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

footer h2,
footer p {
	position: relative;
	color: var(--white-hsl);
}

.purple-btn {
	background-color: var(--purple-hsl);
	position: relative;
}

.purple-btn:hover {
	background-color: var(--purple-hover-hsl);
}

@media screen and (min-width: 32em) {
	.group-chat {
		max-width: 457px;
	}

	.buttons {
		display: flex;
		flex-direction: row;
	}

	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: none;
		gap: 0.5rem;
	}

	.built-for {
		max-width: 33rem;
	}

	footer h2 {
		max-width: 28rem;
	}

	footer p {
		max-width: 36rem;
	}
}

@media screen and (min-width: 83em) {
	.hero {
		max-width: 90rem;
		flex-direction: row;
		gap: 6rem;
		margin-top: 2rem;
	}
	.hero--img-mobile {
		display: none;
	}

	.hero--img-desktop {
		display: block;
		width: 33%;
		height: auto;
		position: relative;
	}

	.hero--img-desktop:first-child {
		left: -3%;
	}

	.hero--img-desktop:last-child {
		right: -3%;
	}

	.banner {
		display: flex;
		justify-content: space-between;
	}
	.users-pictures {
		padding-inline: 6rem;
	}

	.built-for {
		max-width: 33.75rem;
	}

	footer {
		flex-direction: row;
		justify-content: space-around;
		padding-block: 7rem;
	}

	footer p,
	footer h2 {
		text-align: left;
		max-width: 350px;
	}
}
