:root {
	/* Fonts */
	--ff-primary: "Roboto", sans-serif;

	/* Primary colors */
	--tomato: hsl(4, 100%, 67%);

	/* Neutral colors */
	--dark-slate-grey: hsl(234, 29%, 20%);
	--charcoal-grey: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);

	/* Font weights */
	--fw-regular: 400;
	--fw-bold: 700;

	/* Font sizes */
	--fs-body: 1rem;
}

/* Styling */
body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-regular);
	font-size: var(--fs-body);
	color: var(--dark-slate-grey);

	background-color: var(--dark-slate-grey);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2.5fr;
	gap: 1rem;
	background-color: var(--white);
	max-width: 23.438rem;
	height: 100vh;
}

.hidden {
	display: none;
}

.card__text-content {
	background-color: var(--white);
}

.card__info {
	display: flex;
	flex-direction: column;
	padding-inline: 1.5rem;
	margin-block: 2rem;
	gap: 1.5rem;
}

.card__info-title,
.success__card-title {
	font-size: 2.5rem;
}

.card__info-list {
	margin: 0;
	list-style-type: none;
}

.card__info-list > li {
	line-height: 1.25rem;
	position: relative;
	margin-bottom: 1rem;
}

.card__info-list > li::before {
	content: url("../assets/images/icon-list.svg");
	position: absolute;
	transform: translate(-180%, 0%);
	vertical-align: middle;
	display: inline-table;
	margin-right: 1rem;
}

.form__email {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	padding-inline: 1.5rem;
	margin-bottom: 1.5rem;
}

.email__input {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.email__input label {
	font-weight: var(--fw-bold);
	font-size: 0.8rem;
}

.email__input input {
	margin-top: 0.5rem;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	border: 1px solid var(--grey);
	opacity: 0.5;
}

.form__btn {
	width: 100%;
	color: var(--white);
	background-color: var(--dark-slate-grey);
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 200ms ease-in;
}

.form__btn:hover {
	background-color: var(--charcoal-grey);
}

/* Success card */
.check-icon {
	display: flex;
	align-items: flex-end;
	margin-top: 1rem;
}

.success__card-title {
	margin-block: 1.5rem;
}

.success__card-text {
	margin-bottom: 16rem;
}

.check-icon__img {
	width: 4rem;
}

.bold {
	font-weight: var(--fw-bold);
}

.success__card {
	padding-inline: 1rem;
}

@media (min-width: 52rem) {
	.card {
		max-width: 58rem;
		grid-template-columns: 30rem 25rem;
		grid-template-rows: 1fr;
		height: auto;
		border-radius: 36px;
		padding: 1rem;
	}

	.form__card-img {
		display: flex;
		justify-content: right;
	}

	.card__text-content {
		grid-row: 1;
		padding: 2rem;
	}

	.card__info-title {
		font-size: 3.5rem;
	}
}
