/* Root */
:root {
	/* Primary */
	--red-hsl: hsl(0, 78%, 62%);
	--cyan-hsl: hsl(180, 62%, 55%);
	--orange-hsl: hsl(34, 97%, 64%);
	--blue-hsl: hsl(212, 86%, 64%);

	/* Neutral */
	--very-dark-blue-hsl: hsl(234, 12%, 34%);
	--grayish-blue-hsl: hsl(229, 6%, 66%);
	--very-light-gray-hsl: hsl(0, 0%, 98%);

	/* Fonts */
	--ff-poppins: "Poppins", sans-serif;

	--fw-light: 200;
	--fw-regular: 400;
	--fw-bold: 600;
}

/* CSS reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

/* Media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Typography reset */
input,
button,
textarea,
select {
	font: inherit;
}

/* Text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* General styling */
html {
	font-family: var(--ff-poppins);
	font-weight: var(--fw-regular);
	line-height: 1.7;
	font-size: 15px;
	color: var(--very-dark-blue-hsl);
}

h1,
h2,
h3 {
	line-height: 1.4;
}

body {
	background-color: var(--very-light-gray-hsl);
}

header {
	max-width: 540px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-block: 5rem;
	margin-inline: auto;
}

header h1 {
	font-size: 2.25rem;
	font-weight: var(--fw-light);
}

header h2 {
	font-size: 2.25rem;
	font-weight: var(--fw-bold);
}

header p {
	margin-top: 1rem;
	font-weight: var(--fw-regular);
	opacity: 0.5;
	padding: 0 2rem;
}

.cards {
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin-inline: auto;
}

.card {
	max-width: 21.875rem;
	margin: 0 2rem;
	padding: 2rem;
	border-radius: 0.3rem;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	box-shadow: 0px 15px 30px -11px hsl(213, 47%, 67%, 0.5);
}

.card h3 {
	font-size: 1.25rem;
	margin-bottom: 0.25rem;
	font-weight: var(--fw-bold);
}

.card p {
	opacity: 0.5;
	font-size: 0.81rem;
}

.middle-section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.cyan {
	border-top: 0.3rem solid var(--cyan-hsl);
}

.red {
	border-top: 0.3rem solid var(--red-hsl);
}

.orange {
	border-top: 0.3rem solid var(--orange-hsl);
}

.blue {
	border-top: 0.3rem solid var(--blue-hsl);
}

/* Icon */
.card img {
	display: block;
	margin-left: auto;
	margin-top: 2rem;
	width: 57px;
}

/* Media queries */

@media (min-width: 1200px) {
	.cards {
		flex-direction: row;
	}

	.card {
		margin: 0;
	}

	.card img {
		width: 64px;
	}
}
