@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Outfit", sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: hsl(212, 45%, 89%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 320px;
	height: 497px;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-img {
	margin: 15px;
}

.card-img img {
	width: 100%;
	border-radius: 10px;
}

.card-text {
	width: 288px;
	height: 129px;
	text-align: center;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 20px;
}

.card-text h3 {
	color: hsl(218, 44%, 22%);
	font-size: 21px;
}

.card-text p {
	font-size: 15px;
	color: hsl(220, 15%, 55%);
	margin-top: 20px;
}

/* Media Queries */

@media screen and (max-width: 480px) {
	.card {
		width: 90%;
	}
}
